#gitHub{
    background-image: url('https://sites.psu.edu/bjr5500/files/2017/07/background-wallpapers-beautiful-website-sphere-different-backgrounds-2hiuje6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    resize: both;
    overflow: auto;
}

h1{
    font-style: italic;
    color: brown;
    font-size: 40px;
    text-align: center;
}

.form{
    margin-left: 20px;
    margin-top: 70px;
}
