#display{
    background-color: rgb(192, 184, 184);
}
#profile{
    color: brown;
    font-style: italic;
}

#login{
    font-style: italic;
    font-size: 40px;
    color:rgb(148, 32, 148);
}
 #repoDes , #repoCreat , #repoUpdat {
    color: solid black;
    font-size: 17px;
}
#pub{
    font-size: 25px;
    color:rgb(105, 16, 78);  
}
#repoName{
    color:rgb(105, 16, 78);
    font-size: 17px; 
}
.form{
    margin-top: 50px;
}