<!-- <p>display works!</p> -->
<div class="jumbotron" id="display">
    <h1 class="display-4 text-center" id="profile">GitHub Profile!</h1>
    <hr class="my-4">
</div>
<div>
    <p id="login">{{displayUser.login}}</p>
    <img src="{{displayUser.avatar_url}}" width="300" height="250">
    <p>{{displayUser.public_repos}}</p>
  </div>

  <div *ngFor="let repo of displayRepo">
      <p>{{repo.name}}</p>
      <p>{{repo.description}}</p>
      <p>{{repo.created_at|dateCount}}</p>
      <p>{{repo.updated_at|dateCount}}</p>

  </div>