<!-- <p>display works!</p> -->
<div class="jumbotron" id="display">
    <h1 class="display-4 text-center" id="profile">GitHub Profile!</h1>
    <hr class="my-4">
</div>
<div class="row">
    <div class="col-md-6">
        <p id="login">{{displayUser.login}}</p>
        <img src="{{displayUser.avatar_url}}" width="270" height="300">
        <p>{{displayUser.public_repos}}</p>
  </div>

  <div class="col-md-6" *ngFor="let repo of displayRepo">
      <p>{{repo.name}}</p>
      <p>{{repo.description}}</p>
      <p>{{repo.created_at|dateCount}}</p>
      <p>{{repo.updated_at|dateCount}}</p>

  </div>
</div>